body {
  background: #e4e4e4;
  padding: 100px; }

html, * {
  padding: 0;
  margin: 0; }

.outter {
  width: 796px;
  border: 2px solid #aaaaaa; }
  .outter .inner {
    margin-left: -10px; }
    .outter .inner .element {
      border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -webkit-border-radius: 4px;
      height: 100px;
      float: left;
      display: inline-block;
      background: white;
      margin-left: 10px;
      width: 151.2px; }
